.title > h1 {
    text-align: center;
    padding: 50px;
}
.desc >h2{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.desc > p {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.proj{
    padding: 40px;
    margin-bottom: 20px;
}

input, textarea, button {
    border-radius: 5px;
    background-color: #f2f2f2;
}
.send {
    align-self: center;
width:100%;
margin-left: 10px;
margin-right: 10px;
}
form{
    margin: 40px;
}
textarea {
    margin-bottom: 15px;
}
cont {
    margin: 40px;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-right: 10px;
}